torch~=2.0.0
torchvision~=0.15.1
numpy~=1.23.5
matplotlib~=3.7.1
pillow~=9.5.0
scikit-learn~=1.2.2
streamlit~=1.21.0
opencv-python~=4.7.0.72
av~=10.0.0
requests~=2.28.2
timm~=0.6.12
segmentation_models_pytorch~=0.3.2
streamlit-camera-input-live~=0.2.0